@import './variables.css';

body {
  margin: 0;
  font-family: var(--font-secondary);
  background-color: var(--color-bg-1);
  color: var(--color-black);
}

h1 {
  font-family: var(--font-primary);
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-family: var(--font-primary);
  font-size: 22px;
  font-weight: 600;
}


a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: var(--font-primary);
  font-size: 18px;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}
